body{
	background: url(https://images8.alphacoders.com/101/thumb-1920-1015027.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;


}
h1{
	border: 1px solid #ffcf0d;
	font-family: Bebas Neue Regular;
	font-size: 72px;
	text-align: center;
	font-color: #ffcf0d;
}
button {
  background-color: #ffcf0d; /* Green */
  border: none;
  color: white;
  left: 50%;
  top: 50%;
  padding: 16px 32px;
  text-align: center;
  font-family: Bebas Neue Regular;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 250px;
  border-radius: 25px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #ffcf0d;
}

.button1:hover {
  background-color: #ffcf0d;
  border-color: #ffcf0d; 
  color: white;
}

* {
  box-sizing: border-box;
}

/*body {
  font-family: Arial;
  margin: 0 auto;  Center website 
  max-width: 800px; /* Max width */
  padding: 20px;
}*/

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}
.form-area{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
  height: 300px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.5);
  padding: 40px;
  font-family: Bebas Neue Regular;
  color: rgb(255,255,255,1);
  text-shadow: 2px 2px 4px #000000;

  border-radius: 25px;

}

input[type=text] {
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=password] {
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=number] {
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px solid white;
}


h3 {
  margin: 0;
  padding: 0 0 20px;
  font-weight: bold;
  font-size: 54px;
  color: rgb(255,255,255,1);
  text-shadow: 2px 2px 4px #000000;
}

